.outliner-title {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--margin-4);

    & > .breadcrumbs {
        margin-bottom: var(--margin-6);
    }

    & > .subtitle {
        font-size: var(--font-6);
        text-transform: uppercase;
        color: var(--color-alt-1);
        font-weight: 600;
        margin-top: var(--margin-6);
    }

    & > .title-content {
        display: flex;
        flex-direction: row;
        font-weight: 600;
        font-size: var(--font-5);
        align-items: center;
        margin-bottom: var(--margin-2);

        & > .link {
            border: 1px solid transparent;
            background-color: transparent;
            padding: var(--padding-3) var(--padding-3);
            border-radius: var(--radius-5);
            color: var(--color-white-4);
            border-right: 1px solid var(--color-white-7);

            &:hover {
                background-color: var(--color-white-7);
                color: var(--color-alt-2);
                border-right: 1px solid transparent;
            }
        }

        & > .header {
            display: flex;
            flex-direction: row;
            gap: var(--gap-6);
            margin-left: var(--margin-3);

            & > .icon {
                color: var(--color-alt-1);
            }

            & > .outliner-title-text {
                max-width: 150px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                color: var(--color-white-1);
            }
        }

        & > .outliner-title-text {
            display: flex;
            flex: 1 1 auto;
            color: var(--color-white-1);
        }
    }

    &.mobile {
        & > .subtitle {
            display: flex;
            font-size: var(--font-6);
            margin-top: var(--margin-2);
            margin-left: var(--margin-1);
        }

        & > .title-content {
            margin-bottom: 0;
            font-size: var(--font-3);
            font-weight: 600;
            height: 4rem;
            gap: 3px;
            border-bottom: 1px dashed var(--color-white-6);

            & > .link {
                background-color: transparent;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: auto;
                height: auto;
                border-radius: 0;
                color: var(--color-white-4);

                &.logo-icon-link {
                    width: 100px;
                }
            }

            & > .header {
                display: flex;
                flex-direction: row;
                gap: 5px;
                align-items: center;

                & > .outliner-title-text {
                    max-width: 200px;
                    color: var(--color-white-1);
                }

                & > .icon {
                    display: none;
                    font-size: var(--font-1);
                }
            }
        }
    }
    &.no-icon {
        & > .title-content {
            & > .header {
                margin-left: 0;
                align-items: center;
                align-content: center;
                align-self: center;

                & > .icon {
                    display: none;
                }

                & > .outliner-title-text {
                    margin-top: var(--margin-3);
                }
            }
        }
    }
}
