.outliner-title {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--margin-4);

    & > .breadcrumbs {
        margin-bottom: var(--margin-6);
    }

    & > .subtitle {
        font-size: var(--font-7);
        text-transform: uppercase;
        color: var(--color-alt-1);
        font-weight: 600;
        margin-top: var(--margin-6);
    }

    & > .title-content {
        display: flex;
        flex-direction: row;
        font-weight: 600;
        font-size: var(--font-6);
        align-items: center;
        margin-bottom: var(--margin-2);

        & > .header {
            display: flex;
            flex-direction: row;
            gap: var(--gap-6);
            margin-left: var(--margin-3);

            & > .icon {
                color: var(--color-alt-1);
            }

            & > .outliner-title-text {
                max-width: 100px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        & > .lnk-back {
        }

        & > .outliner-title-text {
            display: flex;
            flex: 1 1 auto;
        }
    }
}
