.link {
    font-size: inherit;
    color: inherit;
    text-decoration: none;

    &.active {
        color: var(--color-alt-3);
    }

    &.outliner {
        display: flex;
        flex-direction: row;
        gap: var(--gap-5);
        padding: var(--padding-5) var(--padding-4);
        border-radius: var(--radius-5);
        border: 1px solid transparent;
        flex: 1 1 auto;

        &:hover {
            background-color: var(--color-white-7);
            color: var(--color-alt-1);
        }

        &:focus {
            outline: none;
        }

        &.active {
            color: var(--color-alt-1);
            font-weight: 600;
            background-color: var(--color-black-3);
        }

        & > .link-content {
            display: flex;
            flex-direction: row;
            flex: 1 1 auto;

            &.no-wrap {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                display: inline-block;
                width: 100px;
            }
        }
    }
}
