.projects-panel {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding-top: var(--padding-3);
    height: 30vh;
    overflow: hidden;
    background-color: var(--color-white-9);

    .link.active {
        background-color: transparent;
    }

    & > .panel-title {
        margin-bottom: var(--margin-4);
    }

    & > .panel-content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        height: 100%;

        & > .project-scroller {
            display: flex;

            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    &.mobile {
        padding-bottom: 0;
        font-size: var(--font-5);
        background-color: var(--color-white-8);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 35vh;

        & > .outliner-title {
            margin-bottom: 0;
            padding-bottom: 0;

            & > .title-content {
                border-bottom: 0;
            }
        }
    }
}
