.panel {
    display: flex;
    flex-direction: column;
    background-color: var(--color-black-2);
    backdrop-filter: var(--blur-4);
    box-shadow: var(--shadow-2);
    border-radius: var(--radius-3);

    & > .content {
        display: flex;
        flex-direction: column;
    }
}
