.panel {
    display: flex;
    flex-direction: column;
    background-color: var(--color-black-2);
    backdrop-filter: var(--blur-3);
    box-shadow: var(--shadow-2);
    padding: var(--padding-3);
}
