.panel {
    display: flex;
    flex-direction: column;
    background-color: var(--color-black-2);
    backdrop-filter: var(--blur-3);
    box-shadow: var(--shadow-2);
    border-radius: var(--radius-5);
    border: 1px solid var(--color-dark-6);
    position: relative;

    &.open {
        padding-bottom: var(--padding-1);
    }

    & > .title {
        display: flex;
        flex-direction: row;
        gap: var(--gap-5);
        padding: var(--padding-1);
        position: relative;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }

    & > .content {
        display: flex;
        flex-direction: column;
        padding-bottom: var(--padding-1);
    }
}
