.progress-bar {
    display: none;
}

model-viewer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
}

.progress-bar.hide {
    display: none;
}

.update-bar {
    display: none;
}
