.outliner-root {
    display: flex;
    flex-direction: column;

    & > .outliner-group {
        font-size: var(--font-6);
        text-transform: uppercase;
        color: var(--color-alt-3);
        font-weight: 600;
        margin-top: var(--margin-6);
        padding: var(--padding-3);
        padding-top: var(--padding-1);
    }

    & > .outliner-category-children {
        display: flex;
        flex-direction: column;
        margin-left: var(--margin-3);
    }

    &.mobile {
        margin-top: var(--margin-3);
        padding-bottom: var(--padding-1);
        font-size: var(--font-5);
        gap: 0;

        & > .link {
            padding-top: var(--padding-4);
            padding-bottom: var(--padding-4);
        }

        & > .outliner-group {
            gap: 0;
            font-size: var(--font-6);
        }

        & > .outliner-category-children {
            gap: 0;
            & > .link {
                padding-top: var(--padding-4);
                padding-bottom: var(--padding-4);
            }
        }
    }
}
