.outliner-child {
    display: flex;
    flex-direction: column;

    & > .outline {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        & > .v-line {
            display: flex;
            flex-direction: column;
            margin-left: 6px;
            gap: 1px;

            & > .content {
                display: flex;
                flex-direction: row;

                & > .h-line {
                    display: flex;
                    flex-direction: row;
                    justify-self: center;
                    align-self: center;
                    width: 8px;
                    height: 1px;
                }
            }

            & > .scroller {
                display: flex;
                flex-direction: column;
                flex: 1 1 auto;
                position: relative;
                margin-left: 0.9rem;
                gap: 1px;
            }
        }

        &.level-2,
        &.level-3 {
            & > .v-line {
                border-left: 1px dashed var(--color-alt-5);

                & > .content {
                    & > .h-line {
                        border-bottom: 1px dashed var(--color-alt-5);
                    }
                }
            }
        }
    }
}
