.sfd-header {
    &.sfd-sticky {
        animation: slideDown 0.35s ease-out;
        @apply shadow-md;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}
