.object-panel {
    display: flex;
    flex-direction: column;
    padding-top: var(--padding-1);

    & > .stats {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: var(--gap-5);
        align-items: center;

        & > .col-1 {
            font-size: var(--font-7);
            color: var(--color-white-4);
        }

        & > .col-2 {
            font-size: var(--font-6);
            font-weight: 600;

            & > .unit {
                font-size: var(--font-7);
                color: var(--color-white-4);
            }
        }
    }
}
