.outliner-button {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > .button:first-of-type {
        flex: 1 1 auto;
        width: 100%;
        align-self: flex-start;

        & > .text {
            max-width: 8rem;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
            width: 100%;
            white-space: nowrap;
            text-transform: capitalize;
        }
    }

    & .visible-btn {
        margin-right: var(--margin-3);
    }
}
