.texture-button {
    display: flex;
    flex-direction: column;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
    position: relative;
    flex: 1 1 auto;
    align-items: center;

    background-color: var(--color-white-8);

    padding: 0;
    margin: 0;

    border: 1px solid transparent;

    border-radius: var(--radius-5);

    min-height: var(--toolbar-height);
    width: var(--toolbar-height);

    & > .color {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        height: 100%;
        width: 100%;

        &.green {
            background-color: green;
        }
        &.blue {
            background-color: blue;
        }
        &.white {
            background-color: white;
        }
        &.black {
            background-color: black;
        }
    }

    & > .text {
        font-size: var(--font-7);
        padding: var(--padding-5);
    }

    & > .bg-image {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        width: var(--toolbar-height);
    }

    &.active {
        color: var(--color-alt-1);
        border: 1px solid var(--color-alt-1);
    }

    &:hover {
        cursor: pointer;
        background-color: var(--color-white-7);
        color: var(--color-1);
    }
}
