.texture-button {
    display: flex;
    flex-direction: column;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
    position: relative;
    flex: 1 1 auto;
    align-items: center;

    background-color: var(--color-white-8);

    padding: 0;
    margin: 0;

    border: 0;

    border-radius: var(--radius-5);

    min-height: var(--toolbar-height);
    width: var(--toolbar-height);

    & > .text {
        font-size: var(--font-7);
        padding: var(--padding-5);
    }

    & > .bg-image {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        width: var(--toolbar-height);
        border-radius: var(--radius-5);
    }

    &.active {
    }

    &:hover {
        cursor: pointer;
    }
}
