.region {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 100;
    width: 18rem;
    gap: var(--gap-4);

    &.left {
        display: flex;
        flex-direction: column;
        left: 1rem;
        top: 1rem;
    }

    &.right {
        display: flex;
        flex-direction: column;
        right: 1rem;
        top: 1rem;
    }
}
