.region {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 100;

    width: 16rem;

    &.left {
        left: 1rem;
        top: 1rem;
    }

    &.right {
        right: 1rem;
        top: 1rem;
    }
}
