.region {
    position: absolute;
    display: flex;
    flex: 1 1 auto;
    z-index: 100;

    &:not(.mobile) {
        gap: var(--gap-4);

        &.place-bottom {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            max-width: calc(50%);
            flex: 1 1 auto;
            justify-content: center;
            left: 50%;
            right: 50%;
            transform: translate(-50%, -50%);
            bottom: 0px;
        }

        &.place-left {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            left: 1rem;
            top: 1rem;
            width: 18.5rem;
            flex: 1 1 auto;
            gap: var(--gap-6);
        }

        &.place-right {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            right: 1rem;
            top: 1rem;
            width: 21rem;
        }
    }

    &.mobile {
        &.place-bottom {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;

            justify-content: center;

            left: 0;
            right: 0;
            bottom: 0px;
        }

        &.place-left {
            top: 0.5rem;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0;
        }

        &.place-right {
            display: none;
            box-sizing: border-box;
            flex-direction: column;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}
