.app-toolbar-panel {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    padding: 0;
    margin: 0;

    &.hidden {
        display: none;
    }

    & > .panel-content {
        display: flex;
        flex-direction: row;
        gap: 1px;

        margin: 0;

        & > .button {
            border-radius: 0;
            height: 70px;
            width: 90px;

            & > .bg-image {
                border-radius: 0;
            }
        }

        & > .explode-button {
            justify-content: space-between;
            padding-bottom: 4px;

            & > .icon {
                font-size: var(--font-1);
                margin-top: var(--margin-4);
            }
        }

        & > .edges-button {
            justify-content: space-between;
            padding-bottom: 4px;

            & > .icon {
                font-size: var(--font-1);
                margin-top: var(--margin-4);
            }
        }

        & > .button:first-of-type {
            border-top-left-radius: var(--radius-5);
            border-bottom-left-radius: var(--radius-5);

            & > .bg-image {
                border-top-left-radius: var(--radius-5);
                border-bottom-left-radius: var(--radius-5);
            }
        }

        & > .button:last-of-type {
            border-top-right-radius: var(--radius-5);
            border-bottom-right-radius: var(--radius-5);

            & > .bg-image {
                border-top-right-radius: var(--radius-5);
                border-bottom-right-radius: var(--radius-5);
            }
        }
    }

    &.mobile {
        z-index: 9999999;
        border-radius: 0;
        padding: 0px;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        & > .panel-content {
            gap: 1px;
            border-radius: 0;
            position: relative;
            gap: 0;

            & > .explode-button {
                justify-content: space-between;
                padding-bottom: 3px;

                & > .icon {
                    font-size: var(--font-2);
                    margin-top: var(--margin-4);
                }
            }
            & > .images-button {
                justify-content: space-between;
                padding-bottom: 3px;

                & > .icon {
                    font-size: var(--font-2);
                    margin-top: var(--margin-4);
                }
            }
            & > .edges-button {
                justify-content: space-between;
                padding-bottom: 3px;

                & > .icon {
                    font-size: var(--font-2);
                    margin-top: var(--margin-4);
                }
            }

            & > .button {
                border-radius: 0;
                height: 70px;
                width: 100%;

                & > .bg-image {
                    border-radius: 0;
                }
            }
        }
    }
}
