.app-toolbar-panel {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    padding: 0;

    & > .loading {
        background-color: red;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99999;
    }

    &.mobile {
        display: none;
    }

    &.hidden {
        display: none;
    }

    & > .panel-content {
        display: flex;
        flex-direction: row;
        gap: 1px;

        & > .button {
            border-radius: 0;

            & > .bg-image {
                border-radius: 0;
            }
        }

        & > .button:first-of-type {
            border-top-left-radius: var(--radius-5);
            border-bottom-left-radius: var(--radius-5);

            & > .bg-image {
                border-top-left-radius: var(--radius-5);
                border-bottom-left-radius: var(--radius-5);
            }
        }

        & > .button:last-of-type {
            border-top-right-radius: var(--radius-5);
            border-bottom-right-radius: var(--radius-5);

            & > .bg-image {
                border-top-right-radius: var(--radius-5);
                border-bottom-right-radius: var(--radius-5);
            }
        }
    }
}
