//
// Icon Font: halflap
//

@font-face {
    font-family: "halflap";
    src: url("/assets/fonts/halflap/halflap.eot");
    src: url("/assets/fonts/halflap/halflap.eot?#iefix")
            format("embedded-opentype"),
        url("/assets/fonts/halflap/halflap.woff2") format("woff2"),
        url("/assets/fonts/halflap/halflap.woff") format("woff"),
        url("/assets/fonts/halflap/halflap.ttf") format("truetype"),
        url("/assets/fonts/halflap/halflap.svg#halflap") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "halflap";
        src: url("/assets/fonts/halflap/halflap.svg#halflap") format("svg");
    }
}

[data-icon]:before {
    content: attr(data-icon);
}

[data-icon]:before,
.hl-icon-add:before,
.hl-icon-add-fill:before,
.hl-icon-arrow-down:before,
.hl-icon-arrow-down-fill:before,
.hl-icon-arrow-up:before,
.hl-icon-arrow-up-fill:before,
.hl-icon-back:before,
.hl-icon-back-fill:before,
.hl-icon-box:before,
.hl-icon-box-fill:before,
.hl-icon-camera:before,
.hl-icon-camera-fill:before,
.hl-icon-crumb-divider:before,
.hl-icon-crumb-fill:before,
.hl-icon-cursor:before,
.hl-icon-cursor-fill:before,
.hl-icon-dark:before,
.hl-icon-dark-fill:before,
.hl-icon-error:before,
.hl-icon-error-fill:before,
.hl-icon-folder:before,
.hl-icon-folder-checked:before,
.hl-icon-folder-checked-fill:before,
.hl-icon-folder-fill:before,
.hl-icon-grid:before,
.hl-icon-grid-fill:before,
.hl-icon-hidden:before,
.hl-icon-hidden-fill:before,
.hl-icon-light:before,
.hl-icon-light-1:before,
.hl-icon-light-fill:before,
.hl-icon-light-fill-1:before,
.hl-icon-lock:before,
.hl-icon-lock-fill:before,
.hl-icon-redo:before,
.hl-icon-redo-fill:before,
.hl-icon-rotate:before,
.hl-icon-rotate-fill:before,
.hl-icon-save:before,
.hl-icon-save-fill:before,
.hl-icon-scale:before,
.hl-icon-scale-fill:before,
.hl-icon-scene:before,
.hl-icon-scene-fill:before,
.hl-icon-stack:before,
.hl-icon-stack-fill:before,
.hl-icon-texture:before,
.hl-icon-texture-1:before,
.hl-icon-texture-fill:before,
.hl-icon-texture-fill-1:before,
.hl-icon-theme-dark:before,
.hl-icon-theme-dark-fill:before,
.hl-icon-theme-light:before,
.hl-icon-theme-light-fill:before,
.hl-icon-translate:before,
.hl-icon-translate-fill:before,
.hl-icon-undo:before,
.hl-icon-undo-fill:before,
.hl-icon-unlock:before,
.hl-icon-unlock-fill:before,
.hl-icon-visible:before,
.hl-icon-visible-fill:before,
.hl-icon-world:before,
.hl-icon-world-fill:before {
    display: inline-block;
    font-family: "halflap";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.hl-icon-add:before {
    content: "\f10a";
}
.hl-icon-add-fill:before {
    content: "\f116";
}
.hl-icon-arrow-down:before {
    content: "\f128";
}
.hl-icon-arrow-down-fill:before {
    content: "\f119";
}
.hl-icon-arrow-up:before {
    content: "\f129";
}
.hl-icon-arrow-up-fill:before {
    content: "\f11a";
}
.hl-icon-back:before {
    content: "\f12a";
}
.hl-icon-back-fill:before {
    content: "\f11b";
}
.hl-icon-box:before {
    content: "\f12b";
}
.hl-icon-box-fill:before {
    content: "\f11c";
}
.hl-icon-camera:before {
    content: "\f13b";
}
.hl-icon-camera-fill:before {
    content: "\f13c";
}
.hl-icon-crumb-divider:before {
    content: "\f145";
}
.hl-icon-crumb-fill:before {
    content: "\f146";
}
.hl-icon-cursor:before {
    content: "\f106";
}
.hl-icon-cursor-fill:before {
    content: "\f11d";
}
.hl-icon-dark:before {
    content: "\f108";
}
.hl-icon-dark-fill:before {
    content: "\f11e";
}
.hl-icon-error:before {
    content: "\f147";
}
.hl-icon-error-fill:before {
    content: "\f148";
}
.hl-icon-folder:before {
    content: "\f112";
}
.hl-icon-folder-checked:before {
    content: "\f12c";
}
.hl-icon-folder-checked-fill:before {
    content: "\f11f";
}
.hl-icon-folder-fill:before {
    content: "\f120";
}
.hl-icon-grid:before {
    content: "\f143";
}
.hl-icon-grid-fill:before {
    content: "\f144";
}
.hl-icon-hidden:before {
    content: "\f103";
}
.hl-icon-hidden-fill:before {
    content: "\f121";
}
.hl-icon-light:before {
    content: "\f109";
}
.hl-icon-light-1:before {
    content: "\f12f";
}
.hl-icon-light-fill:before {
    content: "\f122";
}
.hl-icon-light-fill-1:before {
    content: "\f130";
}
.hl-icon-lock:before {
    content: "\f104";
}
.hl-icon-lock-fill:before {
    content: "\f123";
}
.hl-icon-redo:before {
    content: "\f10e";
}
.hl-icon-redo-fill:before {
    content: "\f117";
}
.hl-icon-rotate:before {
    content: "\f13d";
}
.hl-icon-rotate-fill:before {
    content: "\f13e";
}
.hl-icon-save:before {
    content: "\f12d";
}
.hl-icon-save-fill:before {
    content: "\f124";
}
.hl-icon-scale:before {
    content: "\f13f";
}
.hl-icon-scale-fill:before {
    content: "\f140";
}
.hl-icon-scene:before {
    content: "\f131";
}
.hl-icon-scene-fill:before {
    content: "\f132";
}
.hl-icon-stack:before {
    content: "\f113";
}
.hl-icon-stack-fill:before {
    content: "\f125";
}
.hl-icon-texture:before {
    content: "\f111";
}
.hl-icon-texture-1:before {
    content: "\f133";
}
.hl-icon-texture-fill:before {
    content: "\f12e";
}
.hl-icon-texture-fill-1:before {
    content: "\f134";
}
.hl-icon-theme-dark:before {
    content: "\f137";
}
.hl-icon-theme-dark-fill:before {
    content: "\f138";
}
.hl-icon-theme-light:before {
    content: "\f139";
}
.hl-icon-theme-light-fill:before {
    content: "\f13a";
}
.hl-icon-translate:before {
    content: "\f141";
}
.hl-icon-translate-fill:before {
    content: "\f142";
}
.hl-icon-undo:before {
    content: "\f10f";
}
.hl-icon-undo-fill:before {
    content: "\f118";
}
.hl-icon-unlock:before {
    content: "\f110";
}
.hl-icon-unlock-fill:before {
    content: "\f126";
}
.hl-icon-visible:before {
    content: "\f105";
}
.hl-icon-visible-fill:before {
    content: "\f127";
}
.hl-icon-world:before {
    content: "\f135";
}
.hl-icon-world-fill:before {
    content: "\f136";
}

$font-halflap-add: "\f10a";
$font-halflap-add-fill: "\f116";
$font-halflap-arrow-down: "\f128";
$font-halflap-arrow-down-fill: "\f119";
$font-halflap-arrow-up: "\f129";
$font-halflap-arrow-up-fill: "\f11a";
$font-halflap-back: "\f12a";
$font-halflap-back-fill: "\f11b";
$font-halflap-box: "\f12b";
$font-halflap-box-fill: "\f11c";
$font-halflap-camera: "\f13b";
$font-halflap-camera-fill: "\f13c";
$font-halflap-crumb-divider: "\f145";
$font-halflap-crumb-fill: "\f146";
$font-halflap-cursor: "\f106";
$font-halflap-cursor-fill: "\f11d";
$font-halflap-dark: "\f108";
$font-halflap-dark-fill: "\f11e";
$font-halflap-error: "\f147";
$font-halflap-error-fill: "\f148";
$font-halflap-folder: "\f112";
$font-halflap-folder-checked: "\f12c";
$font-halflap-folder-checked-fill: "\f11f";
$font-halflap-folder-fill: "\f120";
$font-halflap-grid: "\f143";
$font-halflap-grid-fill: "\f144";
$font-halflap-hidden: "\f103";
$font-halflap-hidden-fill: "\f121";
$font-halflap-light: "\f109";
$font-halflap-light-1: "\f12f";
$font-halflap-light-fill: "\f122";
$font-halflap-light-fill-1: "\f130";
$font-halflap-lock: "\f104";
$font-halflap-lock-fill: "\f123";
$font-halflap-redo: "\f10e";
$font-halflap-redo-fill: "\f117";
$font-halflap-rotate: "\f13d";
$font-halflap-rotate-fill: "\f13e";
$font-halflap-save: "\f12d";
$font-halflap-save-fill: "\f124";
$font-halflap-scale: "\f13f";
$font-halflap-scale-fill: "\f140";
$font-halflap-scene: "\f131";
$font-halflap-scene-fill: "\f132";
$font-halflap-stack: "\f113";
$font-halflap-stack-fill: "\f125";
$font-halflap-texture: "\f111";
$font-halflap-texture-1: "\f133";
$font-halflap-texture-fill: "\f12e";
$font-halflap-texture-fill-1: "\f134";
$font-halflap-theme-dark: "\f137";
$font-halflap-theme-dark-fill: "\f138";
$font-halflap-theme-light: "\f139";
$font-halflap-theme-light-fill: "\f13a";
$font-halflap-translate: "\f141";
$font-halflap-translate-fill: "\f142";
$font-halflap-undo: "\f10f";
$font-halflap-undo-fill: "\f118";
$font-halflap-unlock: "\f110";
$font-halflap-unlock-fill: "\f126";
$font-halflap-visible: "\f105";
$font-halflap-visible-fill: "\f127";
$font-halflap-world: "\f135";
$font-halflap-world-fill: "\f136";
