.outliner-project {
    display: flex;
    flex-direction: column;
    padding-top: var(--padding-3);
    gap: var(--gap-5);

    & > .title {
        font-weight: 600;
        color: var(--color-alt-1);
        margin-top: var(--margin-4);
    }
}
