.images-panel {
    display: flex;
    flex-direction: column;
    padding-top: var(--padding-1);
    gap: var(--gap-4);

    & > .image-list {
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;

        & > .button {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
        }
    }

    & > .stats {
    }
}
