.menu {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    position: absolute;

    background-color: var(--color-black-1);
    backdrop-filter: var(--blur-3);
    box-shadow: var(--shadow-1);
    border-radius: var(--radius-4);
    border: 1px solid var(--color-dark-3);

    padding: var(--padding-3);
    color: var(--color-white-3);
    gap: 1px;
    z-index: 999999;

    & > .inner-border {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border: 1px solid var(--color-white-8);
        border-radius: var(--radius-4);
        z-index: 0;
    }

    & > .menu-content {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 2px;

        & > .button {
            height: 90px;
            max-width: 60px;
            min-width: 80px;
            width: 100%;
        }
    }

    &.mobile {
        & > .menu-content {
            grid-template-columns: repeat(5, 1fr);
            gap: 2px;

            & > .button {
                height: 60px;
                max-width: 60px;
                min-width: 50px;
                width: 100%;
            }
        }
    }
}

.menu-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.01);
    z-index: 99999;
}
