.outliner-child {
    display: flex;
    flex-direction: column;

    & > .link {
        flex: 1 1 auto;
    }

    & > .outline {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        &.level-2,
        &.level-3 {
            & > .v-line {
                border-left: 1px dashed var(--color-white-6);

                & > .content {
                    & > .h-line {
                        border-bottom: 1px dashed var(--color-white-6);
                    }
                }
            }
        }

        & > .v-line {
            display: flex;
            flex-direction: column;
            margin-left: 6px;

            & > .content {
                display: flex;
                flex-direction: row;

                & > .h-line {
                    display: flex;
                    flex-direction: row;
                    justify-self: center;
                    align-self: center;
                    height: 1px;
                    width: 1rem;
                }
            }

            & > .children {
                display: flex;
                flex-direction: column;
                flex: 1 1 auto;
                position: relative;
                margin-left: 1rem;

                &.level-2 {
                    & > .scroller {
                        display: flex;
                        flex-direction: column;

                        overflow: auto;
                        max-height: 30rem;
                        min-height: 1rem;
                    }
                }
            }
        }
    }
}
