.outliner-main {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--padding-4);
    position: relative;

    &.mobile {
        flex: 1 1 auto;
        width: 95%;
        margin-top: var(--margin-3);

        & > .panel-content {
            flex: 1 1 auto;

            & > .logo {
                padding-top: var(--padding-7);
                padding-bottom: var(--padding-1);
                border-bottom: 1px dashed var(--color-white-6);
            }
        }

        &.model {
            margin-top: var(--margin-4);
            padding: 0;

            & > .panel-content {
                & > .logo {
                    display: none;
                    padding: 0;
                }
            }
        }
    }

    &:not(.mobile) {
        & > .panel-content {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            padding-bottom: var(--padding-1);

            & > .logo {
                padding-top: var(--padding-3);
                padding-bottom: var(--padding-1);
                border-bottom: 1px dashed var(--color-white-7);
            }
        }
    }
}
