.outliner-main {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--padding-4);
    position: relative;

    &.mobile {
        flex: 1 1 auto;
        width: 95%;
        margin-top: var(--margin-3);
        height: 92vh;
        overflow: hidden;

        & > .panel-content {
            flex: 1 1 auto;

            & > .logo {
                padding-top: var(--padding-1);
                padding-bottom: 2rem;
                border-bottom: 1px dashed var(--color-white-6);
            }

            & > .scroller {
                max-height: 75vh;
            }
        }

        &.model {
            height: auto;
            margin-top: var(--margin-4);
            padding: 0;

            & > .panel-content {
                & > .logo {
                    display: none;
                    padding: 0;
                }

                & > .scroller {
                    max-height: auto;
                }
            }
        }
    }

    &:not(.mobile) {
        & > .panel-content {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            padding-bottom: var(--padding-1);
            padding-left: var(--padding-4);
            padding-right: var(--padding-4);
            height: 92vh;

            & > .logo {
                margin-top: var(--margin-2);
                padding-bottom: var(--padding-2) !important;
                border-bottom: 1px dashed var(--color-white-6);
            }
        }

        &.model {
            height: auto;
            margin-top: var(--margin-4);
            padding: 0;

            & > .panel-content {
                & > .logo {
                    padding: 0;
                }

                & > .scroller {
                    max-height: 50vh;
                }
            }
        }
    }
}

.loading {
    .outliner-main {
        &.mobile {
            display: none;
        }
    }
}

.outliner-root {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    & > .title-projects {
        margin-left: var(--margin-4);
        margin-top: var(--margin-3);
    }

    & > .root-scroller {
        display: flex;
        flex: 0 0 auto;
        justify-items: flex-start;
    }
    & > .title-parts {
        margin: 0;
        padding: 0;
        margin-left: var(--margin-4);
        margin-top: var(--margin-4);
    }

    &.mobile {
        font-size: var(--font-6);
        gap: 0;

        & > .link {
            padding-top: var(--padding-4);
            padding-bottom: var(--padding-4);
        }

        & > .outliner-group {
            font-size: var(--font-6);
        }
    }

    & > .outliner-model {
        display: flex;
        flex: 1 1 auto;
        margin-top: var(--margin-4);
        background-color: var(--color-dark-6);
        position: relative;
        border-radius: 3px;
        padding-top: var(--padding-1);

        & > .scroller {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        &.mobile {
            padding-bottom: 0;
            font-size: var(--font-5);
            background-color: var(--color-white-8);

            & > .outliner-title {
                margin-bottom: 0;
                padding-bottom: 0;

                & > .title-content {
                    border-bottom: 0;
                }
            }
        }
    }
}
