.outliner-main {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--padding-4);
    position: relative;

    &.mobile {
        flex: 1 1 auto;
        width: 95%;
        margin-top: var(--margin-3);
        height: 92vh;
        overflow: hidden;

        & > .panel-content {
            flex: 1 1 auto;

            & > .logo {
                padding-top: var(--padding-1);
                padding-bottom: 2rem;
                border-bottom: 1px dashed var(--color-white-6);
            }

            & > .scroller {
                max-height: 75vh;
            }
        }

        &.model {
            height: auto;
            margin-top: var(--margin-4);
            padding: 0;

            & > .panel-content {
                & > .logo {
                    display: none;
                    padding: 0;
                }

                & > .scroller {
                    max-height: auto;
                }
            }
        }
    }

    &:not(.mobile) {
        & > .panel-content {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            padding-bottom: var(--padding-1);
            padding-left: var(--padding-4);
            padding-right: var(--padding-4);
            height: 92vh;

            & > .logo {
                margin-top: var(--margin-2);
                padding-bottom: var(--padding-2) !important;
                border-bottom: 1px dashed var(--color-white-6);
            }
        }

        &.model {
            height: auto;
            margin-top: var(--margin-4);
            padding: 0;

            & > .panel-content {
                & > .logo {
                    padding: 0;
                }

                & > .scroller {
                    max-height: 50vh;
                }
            }
        }
    }
}

.loading {
    .outliner-main {
        &.mobile {
            display: none;
        }
    }
}
