.parts-panel {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding-top: var(--padding-1);
    height: 60vh;

    & > .panel-title {
        margin-bottom: var(--margin-4);
    }

    & > .panel-content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        height: 100%;

        & > .parts-scroller {
            padding-top: var(--padding-3);
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}
