.image-viewer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-black-2);
    backdrop-filter: var(--blur-3);

    & > .viewer {
        display: flex;
        flex-direction: column;
        z-index: 100;
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        flex: 1 1 auto;
        background-color: var(--color-white-8);
        backdrop-filter: var(--blur-3);
        box-shadow: var(--shadow-4);
        border-radius: var(--radius-3);
        border: 1px solid var(--color-white-9);
        padding: var(--padding-4);

        & > .header {
            display: flex;
            padding: var(--padding-4);
            margin-bottom: var(--margin-3);
            font-size: var(--font-4);
            gap: 4px;
            align-items: center;
            flex: 0 1 auto;

            & > .icon {
                color: var(--color-alt-1);
            }

            & > .title {
                display: flex;
                flex: 1 1 auto;
                font-weight: 800;
            }
        }

        & > .inner-border {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            border: 1px solid var(--color-white-8);
            border-radius: var(--radius-4);
            z-index: -1;
        }

        & > .selected {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            position: relative;
            height: 65%;

            & > .bg-image {
                display: flex;
                flex-direction: column;
                flex: 1 1 auto;
                width: 100%;
            }
        }

        & > .images {
            display: flex;
            flex-direction: column;

            & > .scroll {
                display: flex;
                flex-direction: row;
                overflow-y: auto;
                overflow-x: none;
                gap: 2px;
            }
        }
    }

    &.mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & > .viewer {
            max-height: 500px;
            position: static;
            width: 94vw;
            flex: 1 1 auto;

            & > .close {
                background-color: var(--color-alt-1);
                color: var(--color-black-3);
            }

            & > .selected {
                max-height: 300px;
                display: flex;

                & > .bg-image {
                    height: 100%;
                    max-height: 500px;
                }
            }

            & > .images {
                gap: 0;

                & > .scroll {
                    display: flex;
                    flex-direction: row;
                    gap: 0;

                    button {
                        width: 100px;
                        height: 100px;

                        padding: 0;
                        margin: 0;
                        gap: 0;

                        .bg-image {
                            height: 100px;
                            width: 100px;
                            padding: 0;
                            margin: 0;

                            & > .background {
                                height: 100px;
                                width: 100px;
                                padding: 0;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
