.image-viewer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black-3);

    & > .viewer {
        display: flex;
        flex-direction: column;
        position: relative;
        max-width: 80%;
        min-width: 80%;
        max-height: 90%;
        min-height: 90%;
        z-index: 100;

        & > .inner-border {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            border: 1px solid var(--color-white-8);
            border-radius: var(--radius-4);
            z-index: -1;
        }

        flex: 1 1 auto;

        background-color: var(--color-dark-5);
        backdrop-filter: var(--blur-3);
        box-shadow: var(--shadow-4);
        border-radius: var(--radius-3);
        border: 1px solid var(--color-dark-4);
        padding: var(--padding-4);
        gap: 3px;

        & > .close {
            position: absolute;
            right: 1.5rem;
            top: 1.5rem;
            z-index: 100;
        }

        & > .selected {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            position: relative;
            height: 100%;

            & > .bg-image {
                display: flex;
                flex-direction: column;
                flex: 1 1 auto;
            }
        }

        & > .images {
            position: relative;
            display: flex;
            flex-direction: row;

            & > .scroller-scroll {
                display: flex;
                flex-direction: row;
                gap: 2px;

                & > .button {
                    display: flex;
                    flex-direction: column;

                    & > .bg-image {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }

    &.mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: var(--padding-1);
        background-color: var(--color-black-2);

        & > .viewer {
            max-width: 99%;
            min-width: 99%;
            max-height: 80%;
            min-height: 60%;
            position: relative;

            & > .close {
                display: flex;
                align-self: center;
                justify-self: center;
                justify-content: center;
                align-items: center;
                top: auto;
                bottom: -4rem;
                height: 50px;
                background-color: var(--color-alt-1);

                max-width: calc(50%);
                left: 50%;
                right: 50%;
                transform: translate(-50%, -50%);

                color: var(--color-black-3);
            }

            padding: var(--padding-1);

            & > .selected {
                max-height: 450px;

                & > .bg-image {
                    max-height: 450px;
                    min-height: 450px;
                }
            }
        }
    }
}
