.outliner-model {
    display: flex;
    flex-direction: column;

    & > .scroller {
        max-height: calc(100vh - 250px);
        min-height: 10px;
        height: 100%;
    }

    &.mobile {
        padding-bottom: 0;
        font-size: var(--font-5);
        background-color: var(--color-white-8);

        & > .outliner-title {
            margin-bottom: 0;
            padding-bottom: 0;

            & > .title-content {
                border-bottom: 0;
            }
        }
    }
}
