.outliner-model {
    display: flex;
    flex-direction: column;
    padding-top: var(--padding-3);
    gap: var(--gap-5);

    & > .title {
        display: flex;
        flex-direction: row;
        gap: var(--gap-5);
        font-weight: 600;
        font-size: var(--font-5);
        color: var(--color-alt-1);
        margin-top: var(--margin-2);
    }
}
